*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body,html {height:100%;overflow:auto;}
body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
}
/**header*/
header{
        padding: 15px 0px;
        text-align: center;
        font-size: 2em;
        text-transform: uppercase;
        display: grid;
        grid-template-rows: 200px;
        z-index: 5;
}

img{
    margin-right: 58px;
    border: 1px solid black;
    box-shadow: 3px 5px 5px #080808;
    display: grid;
    grid-column: 3/4;
    height: 200px;
    width: auto;
    z-index: 10;
}

header > h1 {
    border: 6px solid black;
    background:#9fa3a37e;
    box-shadow: 5px 5px 5px #000000;
    margin: 5px 10px 5px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column:2/3;

}
/** container */
.container {   
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden; }

header, .container {
    padding: 0px;
    border: 1px solid black; }

/** nav */
nav{
    background: #2d3436;
    color: #000000;
    display: block;

    height: 120%;
    min-height: 70vh;
    z-index: 2;

 }
nav > h3:hover {
    cursor: pointer;
    color: #e0e0e0;
    background: #7b41a1; 
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** main */
main {
    padding: 20px;
    grid-column: 2/6;
    height: 95%;
    }


/** footer*/
footer{
    grid-column: 1/6;
    z-index: 5;
    padding: 5px 15px 15px 15px;
}

nav,main,footer{
    background: #907e99;
    border: 2px solid black;
    box-shadow: 5px 10px 8px #000000;
}
/** estilo de parrafos*/
h3{
    padding: 15px;
    text-transform: uppercase;
}
article h3{
    text-decoration: underline black;
}

h2{
    padding: 10px;
    text-transform: uppercase;
    text-decoration: underline black;
}
article p{
    line-height: 40px;
}
p.formal{
    text-align:center;
}
article li{
    padding: 10px;
    margin-left: 35px;
} 


/** data content*/

[data-content]{
    display: none;
}
.active[data-content]{
    display: block;
}

@media only screen and (max-width: 600px){
    header{
        padding: 0px;  
        font-size: 1em;
    }

    header h1 {
        margin: 0px;
    }

    .container{
        width: 100%;
        gap: 0.1em;
    }

    main{
        padding:0px
    }
}